<div class="container">
  <div class="level">
    <h1 class="title level-left">Admin</h1>
    <nav class="level-right">
      <div class="level">
        <p class="level-item">
          <a href="{{HOST}}admin">Gestion des articles</a>
        </p>
        <p class="level-item">
          <a href="{{HOST}}adminComment">Gestion des commentaires</a>
        </p>
        <p class="level-item">
          <a href="{{HOST}}logout">Déconnexion</a>
        </p>
        <br/>
      </div>
    </nav> 
  </div>
</div>