{% extends "gabarit.twig" %}
{% block content %}
	<div class="container">
	<div class="columns">
		<div class="column is-one-third">
			<br/><ul>
				<li class="subtitle">
					<span class="icon is-large">
			  			<i class="fab fa-html5 fa-2x"></i>
					</span>
					<span>HTML</span>
				</li>
				<li class="subtitle">
					<span class="icon is-large">
						<i class="fab fa-css3-alt fa-2x"></i>
					</span>
					<span>CSS</span>
				</li>
				<li class="subtitle">
					<span class="icon is-large">
						<i class="fab fa-js fa-2x"></i>
					</span>
					<span>JAVASCRIPT</span>
				</li>
				<li class="subtitle">
					<span class="icon is-large">
						<i class="fab fa-php fa-2x"></i>
					</span>
					<span>PHP</span>
				</li>
			</ul>				
		</div>
		<div class="column is-one-third">
			<div class="media">
				<figure class="media-left image is-300x300">
					<img  class="is-rounded" src="{{WEB}}img/cdb_photo.jpg" alt="Photo de Charlotte DB">	
				</figure>
			</div>			
		</div>
		<div class="column is-one-third">
			<p class="subtitle has-text-justified">
				Bonjour,<br/> 
				je m'appelle Charlotte, j'ai 26 ans et je vis sur Caen. Infirmière de formation, j'ai décidé il y a un an de suivre la formation Web Développeur Junior proposé par Openclassroom. Je trouve ainsi le juste équilibre dans ma vie professionnelle entre le prendre soin et la créativité. 
				Mon métier initial fait de moi une personne très à l'écoute et à la conscience professionnelle forte. Je mettrai en oeuvre ces qualités pour satisfaire au mieux votre demande et créer le projet qui vous ressemble.
			</p>
		</div>

	</div>
</div>
{% endblock %}


