{% extends "gabarit.twig" %}
{% block content %}
<div class="container">
	<div class="columns is-mobile is-centered">
		<div class="column is-half">
			<div class="box">
				<p class="title is-4">Projet 1</p>
				<p class="subtitle is-6">HTML/CSS</p>
				<div class="level">
					<div class="level-item has-text-centered">
						<figure class="image is-300x300">
							<img src="{{WEB}}img/cdb_img_p1.jpg" alt="Image du projet1 CDB1" />
					    </figure>
					</div>
				</div>
				<p class="subtitle"><a class="content" href="http://www.projet1.charlotte-db.fr">Voir plus...</a></p>					
			</div>
			<div class="box">
				<p class="title is-4">Projet 2</p>
				<p class="subtitle is-6">Wordpress</p>	
				<div class="level">
					<div class="level-item has-text-centered">
						<figure class="image is-300x300">
							<img src="{{WEB}}img/cdb_img_p2.jpg" alt="Image du projet2 CDB2" />
				    	</figure>
					</div>
				</div>
				<p class="subtitle"><a class="content" href="http://www.projet2.charlotte-db.fr">Voir plus...</a></p>
			</div>
		</div>
		<div class="column is-half">
			<div class="box">
				<p class="title is-4">Projet 3</p>
				<p class="subtitle is-6">Javascript</p>	
				<div class="level">
					<div class="level-item has-text-centered">
						<figure class="image is-300x300">
							<img src="{{WEB}}img/cdb_img_p3.jpg" alt="Image du projet3 CDB3" />
				    	</figure>
					</div>
				</div>
				<p class="subtitle"><a class="content" href="http://www.projet3.charlotte-db.fr">Voir plus...</a></p>
			</div>
			<div class="box">
				<p class="title is-4">Projet 4</p>
				<p class="subtitle is-6">Php/Mysql</p>	
				<div class="level">
					<div class="level-item has-text-centered">
						<figure class="image is-300x300">
							<img src="{{WEB}}img/cdb_img_p4.jpg" alt="Image du projet4 CDB4" />
				    	</figure>
					</div>
				</div>
				<p class="subtitle"><a class="content" href="http://www.projet4.charlotte-db.fr">Voir plus...</a></p>
			</div>
		</div>		
	</div>
</div>
{% endblock %}

